.heading-font {
  font-size: 23px;
  font-weight: 800;
  line-height: 30px;
  margin-top: 25px;
  margin-bottom: 17px;
}

.title-font {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400px;

  margin-top: 5px;
}
